* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #d8cfe3;
  color: #333333;
}

div#main-box {
  position: absolute;
  top: 60px;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

div.row {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#upper-row {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* background-color: #9c89b3; */
  border-radius: 10px;
}

div#middle-row {
  overflow-x: auto;
  padding: 10px;
  background-color: #9c89b3;
  align-content: center;
  border: solid;
  border-width: 3px;
  border-color: #7e6c91;
  border-radius: 10px;
  /* border-radius: 10px; */
}

div#bottom-row {
  display: flex;
  padding: 10px;
  background-color: #9c89b3;
  border: solid;
  border-width: 3px;
  border-color: #7e6c91;
  border-radius: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: bold;
  background-color: #7e6c91;
}

td {
  background-color: #9384a3;
}
table,
th,
td {
  color: #ffffff;
  text-align: center;
  border: 1px solid #7e6c91;
  border-collapse: collapse;
}

td,
th {
  padding: 2px;
}
